<div id="{{ post.slug }}">
<div class="artistcontent">
<h2>{{ post.title }}{% if post.data.country %} ({{ post.data.country }}){% endif %}</h2>
{{ post.content }}
</div>
<div id="stickyspace"></div>
</div>