<div id="horisontal-header">
    <div id="header">
        <a href="/"><h1>{{ site.title }}</h1></a>
    </div>
    <nav class="horis-menu-list">
        <a class="menu-item-link" href="/info">Info & Tickets</a>
        <a class="menu-item-link" href="/lineup">Lineup</a>
        <a class="menu-item-link" href="/schedule">Schedule</a>
        <a class="menu-item-link" href="/past">Past</a>
    </nav>
</div>
