<div id="horisontal-header">
    <div id="header">
        <a href="/">Festival of<br>Endless Gratitude<br>2023<br><span>2 - 4 November</span></a>
    </div>
    <nav class="horis-menu-list">
        <a class="menu-item-link" href="/info">Info</a>
        <a class="menu-item-link" href="/lineup">Lineup</a> 
        <!-- <a class="menu-item-link" href="/art">Art</a> 
        <a class="menu-item-link" href="/schedule">Schedule</a> -->
        <a class="menu-item-link" href="/past">Past</a>
    </nav>
</div>
