<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <main id="content">
      {% include "art.liquid" %}
    </main>
  </body>
</html>
