<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SV5HBTHWPS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SV5HBTHWPS');
</script>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <main id="content" class="{{ page.slug }}{% if page.data.classname %} {{ page.data.classname }}{% endif %}">
       {{ page.content }}
    </main>
    <footer>
      {% include "partners.liquid" %} 
    </footer>
  </body>
</html>
