<!DOCTYPE html>
<!--  <script>
  window.location.href = "/info"
</script>  -->
<html class="landing"> 
  <head>
    {% include "head.liquid" %}
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SV5HBTHWPS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SV5HBTHWPS');
</script>
    <header>
      {% include "header.liquid" %}
    </header>
    <main class="landing">
   <h1>Festival<span>of</span><br>Endless Gratitude</h1>
   <h2>October 3-5, 2024</h2>
   <h2>Kildevæld Kulturcenter</h2>
   <h3>Bellmansgade 3c | 2100 København Ø</h3>
    </main>
    <footer>
      <div id="social"><a href="https://www.instagram.com/endlessgratitude/"><img src="/assets/img/instagram.png" alt="Instagram"></a><a href="https://www.facebook.com/endlessgratitude"><img src="/assets/img/facebook.png" alt="Facebook"></a></div>
      {% include "partners.liquid" %}
    </footer>
  </body>
</html>
