<!DOCTYPE html>
<!--  <script>
  window.location.href = "/info"
</script>  -->
<html class="landing"> 
  <head>
    {% include "head.liquid" %}
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SV5HBTHWPS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SV5HBTHWPS');
</script>
  <body>
    <div class="video-wrapper">
    <div class="backdrop"></div>
    <div class="video-container playing">
      <video autoplay loop="" muted="" playsinline="" class="video video-desktop"> 
        <source src="/assets/img/baggrund.mp4" type="video/mp4"> </video> 
      <video loop="" muted="" playsinline="" preload="none" class="video video-mobile"> <source src="https://berlin-atonal.com/wp-content/themes/berlinatonal/videos/2022-mobile.mp4" type="video/mp4"> </video> 
      </div> 
  </div>
    <header>
      {% include "header.liquid" %}
    </header>
   <div class="wrapper"><p class="staytuned">Stay tuned for more info on the 2024 edition<br> and follow us for updates</p>
    </div>
    <footer>
      <div id="social"><a href="https://www.instagram.com/endlessgratitude/"><img src="/assets/img/instagram.png" alt="Instagram"></a><a href="https://www.facebook.com/endlessgratitude"><img src="/assets/img/facebook.png" alt="Facebook"></a></div>
      {% include "partners.liquid" %} 
    </footer>
  </body>
</html>
