<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <footer>
      {% include "partners.liquid" %}
    </footer>
  </body>
</html>
