<!DOCTYPE html>
<!--  <script>
  window.location.href = "/info"
</script>  -->
<html class="landing"> 
  <head>
    {% include "head.liquid" %}
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SV5HBTHWPS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SV5HBTHWPS');
</script>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <div id="datoboks"><h2>2 - 4 November</h2><h3>Kildevæld Kulturcenter<br>Bellmansgade 5c<br>2100 København Ø</h3></div>
    <img class="reflections" src="/assets/img/reflections_text.png">
    <footer>
      {% include "partners.liquid" %} 
    </footer>
  </body>
</html>
