<!DOCTYPE html>
<!--  <script>
  window.location.href = "/info"
</script>  -->
<html class="landing"> 
  <head>
    {% include "head.liquid" %}
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SV5HBTHWPS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SV5HBTHWPS');
</script>
    <header>
      {% include "header.liquid" %}
    </header>
    <main class="info">
   <img class=poster src="/assets/img/Poster.jpg"><p class="staytuned"><a href="https://billetto.dk/en/e/1018559">Grab your tickets now!</a><br>Follow us for updates and announcements</p>
    </main>
    <footer>
      <div id="social"><a href="https://www.instagram.com/endlessgratitude/"><img src="/assets/img/instagram.png" alt="Instagram"></a><a href="https://www.facebook.com/endlessgratitude"><img src="/assets/img/facebook.png" alt="Facebook"></a></div>
      {% include "partners.liquid" %}
    </footer>
  </body>
</html>
