<!DOCTYPE html>
<html class="landing">
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <h1><span>Festival</span>
    <span>of</span>
    <span>Endless</span>
    <span>Gratitude</span></h1>
    <h2>2022</h2>
    <h3>17 - 19 <sup>th</sup><br>November</h3>
    <footer>
      {% include "partners.liquid" %} 
    </footer>
  </body>
</html>
