@font-face {
  font-family: public;
  font-style: normal;
  font-weight: normal;
  src: url(/assets/fonts/OverusedGrotesk-Medium.woff) format("woff");
}

@font-face {
  font-family: public;
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/OverusedGrotesk-Bold.woff) format("woff");
}

@font-face {
  font-family: 'garamond';
  font-style: normal;
  font-weight: normal;
  src: url(/assets/fonts/ITCGaramondStd-LtNarrow.woff) format("woff");
}



@import "variables";
@import "header";

html {
  background: url(/assets/img/bggfx.png) no-repeat right top, url(/assets/img/bgnew.png) no-repeat top center fixed;
  background-size: 40vw, cover;
  -webkit-tap-highlight-color: transparent;
  min-height:100vh;
  font-size:16px;
}



html.landing {
  background: url(/assets/img/bgfront.png) no-repeat top center fixed;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
  }

  h1 {
    font-family: garamond;
    font-size:80px;
    letter-spacing: -1px;
    font-weight: normal;
    line-height: 0.8;
    margin-top:0;
    margin-bottom:0;
    span {
      font-size:45px;
      position:relative;
      bottom: 25px;
      letter-spacing: -1px;
    }
  }

  h2 {
    font-size:35px;
    font-weight: normal;
    margin-top:-10px;
    margin-bottom:0;
    padding-bottom:0;
    padding-top:0;
  }

  h3 {
    font-size:21px;
    font-weight: normal;
    margin-top:-10px;
    margin-bottom:0;
  }

  .partnerlogoer {
    display: none;
  }

  .landing {
    display: block;
    min-height: 53vh;
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
    padding-left:60px;
    padding-top:16vh;
  }

.poster {
  height:60vh;
  margin:auto;
  display: block;
}

#header {
  span {
    display:none;
  }
}
  #datoboks {
    position:absolute;
    left:60px;
    bottom:25vh;
    h2 {
      color:$title_color;
      font-size:28px;
      font-weight: normal;
      margin-bottom:5px;
      text-transform: none;
    }
    h3 {
      font-size:16px;
      color:$title_color_alt;
      line-height:19pxpublic;
    }
  }

  img.reflections {
    position:absolute;
    left:30vw;
    top:10vh;
    max-width: 80vh;
    z-index: -1;
  }
    footer {
      position:fixed;
      bottom:5px;
      left:0;
      width:100%;
    }
}

footer {
  position:relative;
}

body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: public;
  color: $text;
}
/*
.video-wrapper {
  position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 100svh;
    z-index:-1;
}
.backdrop {
  position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}
.video-container {
  position: absolute;
    width: 100%;
    height: 100%;<!--
    top: 0;
    left: 0;
}
.video-container .video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.video-container.playing:before {
  display: none;
}

.video-container .video.video-mobile, .video-container .video.video-mobile source {
  display: none;
}
*/
p {
  font-family: public;
  margin-top: 0;
  line-height:1.5;
  a {
    text-decoration: underline;
  }
}

.italic {
  font-style: italic;
}

strong {
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  padding-bottom:10px;
}

h3 {
  font-weight: normal;
  margin-top:0;
}

main {
  background-color: transparent;
  position: relative;
  display: grid;
  margin-top: 15px;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.about, .tickets, .info {
  display: block;
  min-height:53vh;
  text-align: justify;
  max-width:67ch;
  margin-left:auto;
  margin-right:auto;
  img {
    width: 100%;
    height: auto;
  }
  h2 {
    margin-bottom: 0;
  }
}


.contact {
  height:58vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align:center;
      div {
        margin-top:-20vh;
      }
}

.staytuned {
  text-align: center;
  vertical-align: middle;
  font-size: 26px;
  padding-top:5px;
  text-transform: none;
  padding-bottom:none;
  margin-bottom:10px;
}

#social {
  margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  justify-content: space-between;
  width:120px;
  text-align: center;
  margin-top:10px;
  img {
  width:30px;
  }
  a img:hover {
    opacity: 0.6;
    transition: 0.2s;
  }
}

#contact {
  text-align: center;
}

main #left-column {
  grid-area: left;
}
main #right-column {
  grid-area: right;
}

.info, .tickets, .about {
  h2 {
    font-weight: normal;
    font-size:26px;
  }
}

.info {
  .more {
    margin-top:5px;
    font-size:16px;
    font-family: public;
  }
  img {
    width:100%;
    height:auto;
  }
  a, a:hover {
    text-decoration: none;
  }
  p {
    a, a:hover {
      text-decoration: underline;
    }
  }
}

.landingtickets {
  font-size:22px;
  width:100%;
  margin-bottom:15px;
  td:nth-of-type(2) {
    text-align:right;
  }
}

.tickets {
  .more {
    margin-top:5px;
    font-size:16px;
    font-family: public;
  }
  a, a:hover {
    text-decoration: none;
  }
  p {
    a, a:hover {
      text-decoration: underline;
    }
  }
}

.landinglineup {
  display: grid;
  grid-template-columns:auto auto;
  font-family: garamond;
  color: #1c2645;
  font-size: 27px;
  letter-spacing: -1px;
  margin-bottom:15px;
    span {
      font-size: 15px;
      position: relative;
      bottom: 8px;
      letter-spacing: -0.5px;
    }
}

.landingheader {
  margin-bottom:15px;
  h1 {
    font-family: garamond;
    font-size:80px;
    letter-spacing: -1px;
    font-weight: normal;
    line-height: 0.8;
    margin-top:0;
    margin-bottom:0;
    span {
      font-size:45px;
      position:relative;
      bottom: 25px;
      letter-spacing: -1px;
    }
  }

  h2 {
    font-size:35px;
    font-weight: normal;
    margin-top:-10px;
    margin-bottom:0;
    padding-bottom:0;
    padding-top:0;
  }

  h3 {
    font-size:21px;
    font-weight: normal;
    margin-top:-10px;
    margin-bottom:0;
  }
}

.lineup {
  grid-template-areas: "left right";
  grid-template-columns: 990px 600px;
  grid-column-gap: 30px;
  justify-content:center;
  #left-column {
    .more {
      text-align: center;
      margin-top:10px;
      font-size:26px;
    }
  }
  h3 {
    font-style: italic;
    font-size: 16px;
    margin-top:10px;
    margin-bottom:5px;
  }
  .italic {
    font-style: italic;
  }
}

.schedule {
  grid-template-areas:"left";
  grid-template-columns: 1fr;
  max-width:59ch;
  margin-left:auto;
  margin-right:auto;
  padding-left:60px;
  min-height: 58vh;
  #right-column {
    display: none;
  }
  #left-column {
    h2 {
      display:none;
    }
  }
  h3 {
    font-size: 26px;
    margin-bottom:12px;
  }
  table {
    font-family: garamond;
    color: #1c2645;
    font-size: 30px;
    letter-spacing: -1px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    margin-right: 0;
    width: 100%;
    a {
      text-decoration: none;
    }
    .country {
      font-size: 18px;
      position: relative;
      bottom: 8px;
      letter-spacing: -0.5px;
    }
    .dj {
      display: none;
      margin-top: 5px;
      td:first-of-type {
        text-align: right;
      }
    }
    td {
      vertical-align: top;
      padding-right: 10px;
      &:nth-of-type(1) {
        width: 20px;
      /*  text-align: right; */
      }
      &:nth-of-type(2) {
        
        a {
          color: $title-color;
        }
      }
    }
    .more {
      font-family: public;
      font-size: 18px;
      letter-spacing: 0;
    }
  }
}


.event-schedule {
  &:nth-of-type(2) {
    table {
      border-bottom: 2px solid $musikhuset;
    }
  }
  &:nth-of-type(3) {
    table {
      &:nth-of-type(1) {
        border-bottom: 2px solid black;
        margin-bottom: 30px;
      }
      &:nth-of-type(2) {
        border-bottom: 2px solid $title_color_alt;
      }
    }
  }
}

.past {
  padding-left: 17vw;
  padding-right: 17vw;
  grid-template-areas: "left left";
  td:nth-child(odd) {
    padding-right: 30px;
  }
  td {
    padding-bottom: 30px;
    vertical-align: top;
  }
}

.art {
  h2 {
    color:$title-color;
    font-size: 23px;
  }
}

.no-display {
  display: none;
}

a,
a:visited {
  color: $text;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.partnerlogoer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:800px;
  margin-left:auto;
  margin-right:auto;
}
.partnerlogoer a img {
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
.partnerlogoer a img:hover {
  opacity: 0.6;
  transition: 0.2s;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0px;
  margin: 0;
  a:hover {
    text-decoration: none;
  }
}

.event {
  position: relative;
  margin-bottom: 50px;
  min-height: 60vh;
  // border-style: none none solid none;
  // border-color: $koncertkirken;
  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }
  ul {
    justify-content: end;
  }
  li {
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    margin-right: 30px;
    &.desktop {
      width: min-content; 
      margin-bottom:-5px;
      margin-right:0px;
      &:hover {
        opacity: 0.6;
        transition: 0.2s;
      }
      div {
        position:absolute;
        bottom:5px;
        left:5px;
      }
    }
    &.mobile {
      div {
        position:relative;
        div {
        position:absolute;
        bottom:5px;
        left:5px;
        }
      }
    }
    img {
      height: 300px;
      width: auto;
    }
  }
}

.event li span {
  font-family: garamond;
  color: white;
  font-size: 40px;
  letter-spacing: -1px;
  &.country {
    font-size:24px;
    position:relative;
    bottom: 14px;
    letter-spacing: -1px;
  }
}

event li p span {
  font-family: public;
  color:#1c2645;
  font-size:16px;
}

.event li a {
  text-decoration: none;
  cursor: pointer;
}

.title {
  display: inline;
}

.extratitle {
  display: none;
}

.artistcontent {
  .extratitle {
    display: inline;
  }
  .title {
    display: none;
  }
}

iframe {
  width: 100%;
  padding-bottom: 0.5rem;
}

#sound-embed iframe {
  height: auto;
}

.artistcontent {
  position: sticky;
  align-self: start;
  top: 30px;
  h2 {
    font-family: garamond;
  color: $title-color;
  font-size: 40px;
  letter-spacing: -1px;
  text-transform: none;
  font-weight: normal;
  margin-top:10px;
  margin-bottom:0px;
  .country {
    font-size:24px;
    position:relative;
    bottom: 14px;
    letter-spacing: -1px;
  }
  }
}

#stickyspace {
  height: 50px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1855px) {
  html {
    background-size: 50vw, cover;
  }
  main {
    margin-left: 60px;
    margin-right: 60px;
  }

  .lineup {
    grid-template-areas: "left right";
    grid-template-columns: 840px 500px;
  }
  .event {
    li {
      img {
        height: 250px;
        width: auto;
      }
    }
  }
  .event li span {
    &.country {
      font-size:20px;
      bottom: 12px;
    }
  }
}


@media only screen and (max-width: 1600px) {
  main {
    grid-column-gap: 30px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .past {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  html.landing {
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 80vh;
    }
    img.reflections {
      position:absolute;
      left:25vw;
      top:10vh;
      max-width: 80vh;
      z-index: -1;
    } 
    .landing {
      min-height: 49vh;
      padding-top:16vh;
    }
    }
}


@media only screen and (max-width: 1600px) {
  .lineup {
    grid-template-areas: "left right";
    grid-template-columns: 560px 500px;
  }
}

@media only screen and (max-width: 1300px) {
  .lineup {
    grid-template-areas: "left right";
    grid-template-columns: 460px 400px;
    grid-column-gap:15px;
  }
  .event {
    li {
      img {
        height: 200px;
        width: auto;
      }
    }
  }
  html.landing {
    img.reflections {
      position:absolute;
      left:20vw;
      top:10vh;
      max-width: 80vh;
      z-index: -1;
    } 
    }
    .event li span {
      font-size: 30px;
      &.country {
        font-size:17px;
        bottom: 10px;
      }
    }
}


@media only screen and (max-width: 1000px) {
  html, body {
    margin: 0;
    height: 100vh;
    overflow-x: hidden
  }
  
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }

  html.landing {
    background: url(/assets/img/bg-mobile-front.png) no-repeat top center fixed;
    background-size: cover;
  }

  html {
    background: url(/assets/img/bg-mobile.png) no-repeat top center fixed;
    background-size: cover;
  }

  html,
  html.landing {
    border:none;
    #datoboks {
      left:30px;
      text-transform: none;
      h2 {
        color:$title_color;
      font-weight: normal;
      }
      h3 {
        line-height: 28px;
      }
    }
    img.reflections {
      position:absolute;
      left:10vw;
      top:25vh;
      max-width: 80vw;
      z-index: -1;
    } 
  }

.landingheader {
  h1 {
    font-size:60px;
    span {
      font-size:35px;
    }
  }
}

  .contact {
        div {
         font-size: 26px;
        }
  }
  

  main {
    #right-column {
      padding-bottom: 0;
    }
  }
  .main,
  .about,
  .tickets,
  .contact,
  .lineup,
  .past,
  .schedule,
  .info {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    grid-column-gap: 0px;
  }
  .about, .tickets, .info {
    display: block;
    min-height: 53vh;
    text-align: justify;
    max-width: 67ch;
    } 
  .lineup {
    grid-template-areas: "left";
    grid-template-columns: 1fr;
    #right-column {
      display:none;
    }
  }
 /* .schedule {
    text-size-adjust: none;
    h2 {
      font-size: 47px;
    }
    h3 {
      font-size: 47px;
      color:$text;
    }
    table {
      font-size: 47px;
      text-size-adjust: none;
    }
    grid-template-areas: "left";
    grid-template-columns: 1fr;
  }*/
  .event {
    &:nth-of-type(2) {
      padding-bottom: 0px;
    }
    ul {
      padding-left: 0px;
    }
    .title {
      display: none;
    }
    .extratitle {
      display: inline;
    }
  }
  .about, .tickets, .info {
    text-align: left;
  }
  .artist-link {
    pointer-events: none;
  }
  .event li {
    cursor: default;
    margin-bottom: 20px;
    margin-right:0px;
    &:last-of-type {
      margin-bottom:10px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .event li span {
    font-size: 36px;
    &.country {
      font-size:20px;
      bottom: 12px;
    }
  }
  .past {
    h2 {
      margin-bottom:0;
    }
    table {
      div {
        margin-bottom:30px;
      }
    }
    td {
      display: block;
      padding-bottom: 60px;
      &:last-of-type {
        padding-bottom: 0;
      }
      img {
        width: 100%;
      }
      &:nth-child(odd) {
        padding-bottom: 0px;
        padding-right: 0px;
      }
    }
  }
  .art {
    h2 {
      padding-bottom:5px;
    }
  }
  .partnerlogoer {
    width:auto;
  }
  .partnerlogoer a img {
    max-width: 13vw;
  }
  .landinglineup {
    grid-template-columns: auto;
  }
  .landingtickets {
    font-size:18px;
  }
}

@media only screen and (max-width: 550px) {
  html.landing {
    .landing {
      padding-left:20px;
      padding-right:10px;
    }
}
}

@media only screen and (max-width: 515px) {
  html.landing {
    h1 {
      font-family: garamond;
      font-size:70px;
      letter-spacing: -1px;
      font-weight: normal;
      line-height: 0.75;
      margin-top:0;
      margin-bottom:0;
      span {
        font-size:35px;
        position:relative;
        bottom: 22px;
        letter-spacing: -1px;
      }
    }
  
    h2 {
      font-size:30px;
      font-weight: normal;
      margin-top:-10px;
      margin-bottom:0;
      padding-bottom:0;
      padding-top:0;
    }
  
    h3 {
      font-size:18px;
      font-weight: normal;
      margin-top:-8px;
      margin-bottom:0;
    }
  }
  }

  @media only screen and (max-width: 428px) {
    html.landing {
      .landing {
        padding-left:0;
        padding-right:0;
        min-height: 43vh;
      }
      h1 {
        font-family: garamond;
        font-size:60px;
        letter-spacing: -1px;
        font-weight: normal;
        line-height: 0.75;
        margin-top:0;
        margin-bottom:0;
        span {
          font-size:30px;
          position:relative;
          bottom: 18px;
          letter-spacing: -1px;
        }
      }
    
      h2 {
        font-size:26px;
        font-weight: normal;
        margin-top:-10px;
        margin-bottom:0;
        padding-bottom:0;
        padding-top:0;
      }
    
      h3 {
        font-size:15.5px;
        font-weight: normal;
        margin-top:-6px;
        margin-bottom:0;
      }
    }
  }
