@font-face {
  font-family: forma;
  font-style: normal;
  font-weight: normal;
  src: local("Forma"), url(/assets/fonts/FormaDJRDisplay-Regular.woff) format("woff"); }

@font-face {
  font-family: forma;
  font-style: normal;
  font-weight: 700;
  src: local("Forma"), url(/assets/fonts/FormaDJRDisplay-Bold.woff) format("woff"); }

@font-face {
  font-family: formaitalic;
  font-style: normal;
  font-weight: normal;
  src: local("Forma"), url(/assets/fonts/FormaDJRDisplay-Italic.woff) format("woff"); }

#horisontal-header {
  display: grid;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  grid-template-areas: "header menu";
  grid-template-rows: 1fr;
  grid-column-gap: 30px; }

#header {
  grid-area: header;
  justify-self: baseline;
  align-self: end; }
  #header a {
    text-decoration-color: #cc0211; }
  #header.info {
    font-size: 0; }

#header h1 {
  color: #cc0211;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 45px;
  font-weight: normal; }

.horis-menu-list {
  justify-self: end;
  align-self: center;
  display: inline-block;
  grid-area: menu; }

.horis-menu-list.info {
  padding-top: 1.9em; }

a.menu-item-link, a.menu-item-link:visited {
  font-size: 34px;
  letter-spacing: 4px;
  font-family: formaitalic;
  color: white; }

.menu-item-link:not(:first-child) {
  margin-left: 30px; }

@media only screen and (max-width: 1000px) {
  #horisontal-header {
    padding-left: 20px;
    padding-right: 20px; }
  a.menu-item-link, a.menu-item-link:visited {
    font-size: 4vw; }
  #header {
    text-size-adjust: none; }
    #header h1 {
      font-size: 50px; } }

html {
  background: url(/assets/img/landing.png) no-repeat top center fixed;
  background-size: cover;
  -webkit-tap-highlight-color: transparent;
  border: 4px solid white;
  min-height: 99.1vh; }

html.landing {
  background: url(/assets/img/landing.png) no-repeat top center fixed;
  background-size: cover;
  height: 99.1vh; }
  html.landing h1 {
    color: white;
    font-size: 6vw;
    letter-spacing: 0.5vw;
    font-family: formaitalic;
    font-weight: normal;
    mix-blend-mode: color-dodge; }
    html.landing h1 span:nth-of-type(1) {
      position: absolute;
      left: 33vw;
      top: 18vh; }
    html.landing h1 span:nth-of-type(2) {
      position: absolute;
      left: 55vw;
      top: 31vh; }
    html.landing h1 span:nth-of-type(3) {
      position: absolute;
      left: 25vw;
      top: 46vh; }
    html.landing h1 span:nth-of-type(4) {
      position: absolute;
      left: 43vw;
      top: 61vh; }
  html.landing h2 {
    color: white;
    font-size: 4vw;
    letter-spacing: 0.4vw;
    font-family: formaitalic;
    font-weight: normal;
    mix-blend-mode: color-dodge;
    position: absolute;
    left: 13vw;
    top: 71vh; }
  html.landing h3 {
    color: #d94a10;
    font-size: 3vw;
    letter-spacing: 0.3vw;
    font-weight: normal;
    position: absolute;
    right: 0;
    bottom: 1vh;
    margin-right: 60px;
    text-align: center; }
  html.landing footer {
    position: absolute;
    bottom: 1vh; }

body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: forma;
  color: #0051cb; }

p {
  font-family: forma;
  font-size: 17px;
  margin-top: 0;
  line-height: 1.5;
  letter-spacing: 2px; }
  p a {
    text-decoration: underline; }

.italic {
  font-style: italic; }

strong {
  font-weight: 700; }

h2 {
  font-size: 23px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: 2px; }

h3 {
  font-weight: normal;
  margin-top: 0; }

main {
  background-color: white;
  display: grid;
  margin-top: 30px;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.info {
  display: block;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: center; }
  .info h2 {
    margin-top: 35px;
    margin-bottom: 0; }

main #left-column {
  grid-area: left; }

main #right-column {
  grid-area: right; }

.lineup {
  grid-template-areas: "left left right";
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px; }

.schedule {
  padding-left: 15vw;
  padding-right: 15vw;
  min-height: 58vh; }
  .schedule #left-column h2:nth-of-type(1) {
    color: #5c6ace; }
  .schedule #left-column h2:nth-of-type(2) {
    color: #fac526; }
  .schedule #left-column h2:nth-of-type(3) {
    color: #cc0211; }
  .schedule h3 {
    font-size: 23px; }
  .schedule table {
    font-size: 23px;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin-bottom: 60px;
    margin-right: 0;
    width: 100%;
    border-bottom: 2px solid #5c6ace; }
    .schedule table .dj {
      margin-top: 5px; }
      .schedule table .dj td:first-of-type {
        text-align: right; }
    .schedule table td {
      vertical-align: top;
      padding-right: 10px; }
      .schedule table td:nth-of-type(1) {
        width: 20px; }

.event-schedule:nth-of-type(2) table {
  border-bottom: 2px solid #fac526; }

.event-schedule:nth-of-type(3) table:nth-of-type(1) {
  border-bottom: 2px solid black;
  margin-bottom: 30px; }

.event-schedule:nth-of-type(3) table:nth-of-type(2) {
  border-bottom: 2px solid #cc0211; }

.past {
  padding-left: 17vw;
  padding-right: 17vw;
  grid-template-areas: "left left"; }
  .past td:nth-child(odd) {
    padding-right: 30px; }
  .past td {
    padding-bottom: 30px;
    vertical-align: top; }

.no-display {
  display: none; }

a,
a:visited {
  color: #0051cb;
  cursor: pointer;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.partnerlogoer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 12vw;
  margin-left: 60px; }

.partnerlogoer a img {
  max-width: 10vw;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer; }

.partnerlogoer a img:hover {
  opacity: 0.6;
  transition: 0.2s; }

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0px;
  margin: 0; }
  ul a:hover {
    text-decoration: none; }

.event {
  position: relative;
  margin-bottom: 50px;
  min-height: 60vh; }
  .event:nth-last-of-type(1) {
    margin-bottom: 0; }
  .event h3 {
    font-size: 26px;
    position: absolute;
    font-weight: normal;
    top: 389px;
    left: 20px;
    transform-origin: left;
    transform: rotate(270deg);
    color: #5c6ace; }
  .event:nth-of-type(2) {
    border-color: #fac526; }
    .event:nth-of-type(2) h3 {
      top: 471px;
      color: #fac526; }
  .event:nth-of-type(3) {
    border-color: #cc0211; }
    .event:nth-of-type(3) h3 {
      top: 477px;
      color: #cc0211; }
  .event li {
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    margin-right: 30px; }
    .event li.desktop {
      width: min-content; }
    .event li img {
      height: 300px;
      width: auto; }

.event li div {
  width: 100%;
  padding-bottom: 5px; }

.event li span {
  text-transform: uppercase;
  color: #d94a10;
  font-size: 23px;
  letter-spacing: 2px; }

.title {
  display: inline; }

.extratitle {
  display: none; }

.artistcontent .extratitle {
  display: inline; }

.artistcontent .title {
  display: none; }

iframe {
  width: 100%;
  padding-bottom: 0.5rem; }

#sound-embed iframe {
  height: auto; }

.artistcontent {
  position: sticky;
  align-self: start;
  top: 30px; }
  .artistcontent h2 {
    text-transform: uppercase;
    color: #d94a10;
    letter-spacing: 2px; }

#stickyspace {
  height: 50px; }

@media only screen and (max-width: 1855px) {
  main {
    margin-left: 60px;
    margin-right: 60px; }
  .event li img {
    height: 250px;
    width: auto; } }

.mobile {
  display: none; }

@media only screen and (max-width: 1600px) {
  main {
    grid-column-gap: 30px;
    margin-left: 60px;
    margin-right: 60px; }
  .event li {
    margin-right: 15px; }
  .past {
    padding-left: 10vw;
    padding-right: 10vw; } }

@media only screen and (max-width: 1600px) {
  .lineup {
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr; } }

@media only screen and (max-width: 1000px) {
  .desktop {
    display: none; }
  .mobile {
    display: block; }
  html,
  html.landing {
    background: url(/assets/img/landing-mobile.png) no-repeat center center fixed;
    background-size: cover;
    border: none; }
    html h1,
    html.landing h1 {
      font-size: 10vw; }
    html h2,
    html.landing h2 {
      font-size: 8vw; }
    html h3,
    html.landing h3 {
      color: #d94a10;
      font-size: 4vw;
      font-weight: normal;
      position: absolute;
      right: 0vw;
      bottom: 1vh;
      text-align: center;
      margin-right: 30px; }
  p {
    font-size: 15px; }
  main #right-column {
    padding-bottom: 0; }
  .main,
  .info,
  .lineup,
  .past,
  .schedule {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    grid-column-gap: 0px; }
  .lineup {
    grid-template-areas: "left";
    grid-template-columns: 1fr; }
    .lineup #right-column {
      display: none; }
  .schedule {
    text-size-adjust: none;
    grid-template-areas: "left";
    grid-template-columns: 1fr; }
    .schedule h2 {
      font-size: 47px; }
    .schedule h3 {
      font-size: 47px; }
    .schedule table {
      font-size: 47px;
      text-size-adjust: none; }
  .event:nth-of-type(2) {
    padding-bottom: 0px; }
  .event h3 {
    position: initial;
    transform: none;
    font-size: 45px;
    margin-top: 0; }
  .event ul {
    padding-left: 0px; }
  .info {
    text-align: left; }
    .info h2 {
      margin-top: 35px; }
  .artist-link {
    pointer-events: none; }
  .event li {
    cursor: default;
    margin-right: 0px;
    margin-bottom: 30px; }
    .event li img {
      width: 100%;
      height: auto; }
  .past td {
    display: block;
    padding-bottom: 60px; }
    .past td:last-of-type {
      padding-bottom: 0; }
    .past td img {
      width: 100%; }
    .past td:nth-child(odd) {
      padding-bottom: 0px;
      padding-right: 0px; }
  .partnerlogoer a img {
    max-width: 30vw; } }
