@font-face {
  font-family: futura;
  font-style: normal;
  font-weight: normal;
  src: local("FuturaLT"), url(/assets/fonts/FuturaLT.woff) format("woff"); }

@font-face {
  font-family: futura;
  font-style: normal;
  font-weight: 700;
  src: local("FuturaLT-Bold"), url(/assets/fonts/FuturaLT-Bold.woff) format("woff"); }

@font-face {
  font-family: futura;
  font-style: italic;
  font-weight: normal;
  src: local("FuturaLT-Oblique"), url(/assets/fonts/FuturaLT-Oblique.woff) format("woff"); }

#horisontal-header {
  display: grid;
  padding-left: 20vw;
  padding-right: 20vw;
  grid-template-areas: "header" "menu";
  grid-template-rows: 1fr;
  grid-column-gap: 30px; }

#header {
  grid-area: header;
  justify-self: center;
  padding-top: 1vw;
  padding-bottom: 0.7vw; }
  #header.info {
    font-size: 0; }

#header h1 {
  color: #cc0211;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 3.2rem;
  font-weight: 700; }

.horis-menu-list {
  justify-self: center;
  display: inline-block;
  grid-area: menu; }

.horis-menu-list.info {
  padding-top: 1.9em; }

a.menu-item-link {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white; }

.menu-item-link:not(:first-child) {
  margin-left: 30px; }

@media only screen and (max-width: 1000px) {
  #horisontal-header {
    padding-left: 20px;
    padding-right: 20px; }
  a.menu-item-link {
    font-size: 3rem; }
  #header h1 {
    font-size: 4rem; } }

html {
  background: url(/assets/img/info-bg.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; }

body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: futura;
  color: white;
  font-size: 1.6rem; }

h2 {
  font-size: 1.6rem; }

main {
  background-color: black;
  display: grid;
  margin-top: 30px;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-left: 130px;
  margin-right: 130px;
  padding-top: 60px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px; }
  main #right-column {
    padding-bottom: 60px; }

.info {
  display: block;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: center; }
  .info h2 {
    margin-top: 1.5rem; }

main #left-column {
  grid-area: left; }

main #right-column {
  grid-area: right; }

.lineup {
  grid-template-areas: "left left right";
  grid-template-columns: 1fr 1fr 1fr; }

.schedule {
  padding-left: 20vw;
  padding-right: 20vw; }

.past {
  padding-left: 20vw;
  padding-right: 20vw;
  grid-template-areas: "left left"; }
  .past td:nth-child(odd) {
    padding-right: 30px; }
  .past td {
    padding-bottom: 30px;
    vertical-align: top; }

.no-display {
  display: none; }

a,
a:visited {
  color: white;
  cursor: pointer;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.partnerlogoer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.partnerlogoer a img {
  max-width: 10vw;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer; }

.partnerlogoer a img:hover {
  opacity: 0.6;
  transition: 0.2s; }

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 50px;
  margin: 0; }

.event {
  position: relative;
  margin-bottom: 50px;
  min-height: 60vh; }
  .event h3 {
    position: absolute;
    top: 408px;
    left: 25px;
    transform-origin: left;
    transform: rotate(270deg);
    color: #cc0211; }
  .event li {
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    margin-right: 30px; }
    .event li img {
      height: 300px;
      width: auto; }

.event li div {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px; }

.event li span {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  text-transform: uppercase;
  color: white; }

iframe {
  width: 100%;
  padding-bottom: 0.5rem; }

#sound-embed iframe {
  height: auto; }

.artistcontent {
  position: sticky;
  align-self: start;
  top: 30px; }

#stickyspace {
  height: 50px; }

#footer {
  padding-left: 20vw;
  padding-right: 20vw; }

@media only screen and (max-width: 1855px) {
  body {
    font-size: 1.6rem; }
  main {
    margin-left: 60px;
    margin-right: 60px; }
  .event li img {
    height: 250px;
    width: auto; } }

.mobile {
  display: none; }

@media only screen and (max-width: 1600px) {
  main {
    grid-column-gap: 30px;
    margin-left: 30px;
    margin-right: 30px; }
  .event li {
    margin-right: 15px; }
  .past {
    padding-left: 10vw;
    padding-right: 10vw; } }

@media only screen and (max-width: 1600px) {
  .lineup {
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr; } }

@media only screen and (max-width: 1000px) {
  .desktop {
    display: none; }
  .mobile {
    display: block; }
  body {
    font-size: 1.4rem; }
  .main,
  .info,
  .lineup,
  .past,
  .schedule {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    grid-column-gap: 0px; }
  .lineup {
    grid-template-areas: "left";
    grid-template-columns: 1fr; }
  .event h3 {
    position: initial;
    transform: none;
    font-size: 3rem; }
  .event ul {
    padding-left: 0px; }
  .info {
    text-align: left; }
    .info h2 {
      margin-top: 3.5rem; }
  .artist-link {
    pointer-events: none; }
  .event li {
    cursor: default;
    margin-right: 0px;
    margin-bottom: 30px; }
    .event li img {
      width: 100%;
      height: auto; }
  .past td {
    display: block;
    padding-bottom: 60px; }
    .past td img {
      width: 100%; }
    .past td:nth-child(odd) {
      padding-bottom: 0px;
      padding-right: 0px; } }
