@font-face {
  font-family: public;
  font-style: normal;
  font-weight: normal;
  src: url(/assets/fonts/PublicSans-Regular.woff) format("woff"); }

@font-face {
  font-family: public;
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/PublicSans-Bold.woff) format("woff"); }

#horisontal-header {
  display: block;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  grid-template-areas: "header menu";
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  text-align: center; }

#header {
  position: relative;
  grid-area: header;
  justify-self: baseline;
  align-self: end;
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10px; }
  #header br {
    display: block;
    content: "";
    margin-top: -5px; }
  #header span {
    color: white; }
  #header a {
    text-decoration: none; }
  #header.info {
    font-size: 0; }

#header h1 {
  color: white;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 45px;
  font-weight: normal; }

.horis-menu-list {
  justify-self: end;
  align-self: center;
  display: inline-block;
  grid-area: menu;
  position: relative; }

.horis-menu-list.info {
  padding-top: 1.9em; }

a.menu-item-link, a.menu-item-link:visited {
  font-size: 26px;
  font-family: public;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: white; }

.menu-item-link:not(:first-child) {
  margin-left: 30px; }

@media only screen and (max-width: 1000px) {
  #horisontal-header {
    padding-left: 20px;
    padding-right: 20px; }
  #header {
    text-size-adjust: none; }
    #header h1 {
      font-size: 50px; } }

html {
  background: black;
  background-size: cover;
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
  font-size: 16px; }

html.landing {
  background: black;
  background-size: cover;
  height: 100vh; }
  html.landing .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh; }
  html.landing #header span {
    display: none; }
  html.landing #datoboks {
    position: absolute;
    left: 60px;
    bottom: 25vh; }
    html.landing #datoboks h2 {
      color: white;
      font-size: 28px;
      font-weight: normal;
      margin-bottom: 5px;
      text-transform: none; }
    html.landing #datoboks h3 {
      font-size: 16px;
      color: white;
      line-height: 19px; }
  html.landing footer {
    position: absolute;
    bottom: 1vh;
    width: 100vw; }
  html.landing img.reflections {
    position: absolute;
    left: 30vw;
    top: 10vh;
    max-width: 80vh;
    z-index: -1; }

footer {
  position: relative; }

body {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-family: public;
  color: white; }

.video-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 100svh;
  z-index: -1; }

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px); }

.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.video-container .video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover; }

.video-container.playing:before {
  display: none; }

.video-container .video.video-mobile, .video-container .video.video-mobile source {
  display: none; }

p {
  font-family: public;
  margin-top: 0;
  line-height: 1.5; }
  p a {
    text-decoration: underline; }

.italic {
  font-style: italic; }

strong {
  font-weight: 700; }

h2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  padding-bottom: 10px; }

h3 {
  font-weight: normal;
  margin-top: 0; }

main {
  background-color: transparent;
  position: relative;
  display: grid;
  margin-top: 15px;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.info {
  display: block;
  min-height: 65vh;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: justify; }
  .info h2 {
    padding-top: 15px;
    margin-bottom: 0; }

.contact {
  height: 65vh;
  display: block;
  padding-left: 20vw;
  padding-right: 20vw;
  text-align: center; }
  .contact .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh; }
    .contact .wrapper div {
      vertical-align: middle;
      margin-top: -45px; }

.staytuned {
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  font-weight: bold;
  padding: none;
  text-transform: none;
  padding-bottom: none;
  margin-bottom: 10px; }

#social {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  width: 120px;
  text-align: center;
  margin-top: 10px; }
  #social img {
    width: 40px; }
  #social a img:hover {
    opacity: 0.6;
    transition: 0.2s; }

#contact {
  text-align: center; }

main #left-column {
  grid-area: left; }

main #right-column {
  grid-area: right; }

.lineup {
  grid-template-areas: "left right";
  grid-template-columns: 990px 600px;
  grid-column-gap: 30px;
  justify-content: center; }

.schedule {
  padding-left: 15vw;
  padding-right: 15vw;
  min-height: 58vh; }
  .schedule #left-column h2 {
    display: none; }
  .schedule h3 {
    font-size: 23px; }
  .schedule table {
    font-size: 23px;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%;
    border-bottom: 2px solid white; }
    .schedule table .dj {
      display: none;
      margin-top: 5px; }
      .schedule table .dj td:first-of-type {
        text-align: right; }
    .schedule table td {
      vertical-align: top;
      padding-right: 10px; }
      .schedule table td:nth-of-type(1) {
        width: 20px;
        text-align: right; }
      .schedule table td:nth-of-type(2) a {
        color: white; }

.event-schedule:nth-of-type(2) table {
  border-bottom: 2px solid #fac526; }

.event-schedule:nth-of-type(3) table:nth-of-type(1) {
  border-bottom: 2px solid black;
  margin-bottom: 30px; }

.event-schedule:nth-of-type(3) table:nth-of-type(2) {
  border-bottom: 2px solid white; }

.past {
  padding-left: 17vw;
  padding-right: 17vw;
  grid-template-areas: "left left"; }
  .past td:nth-child(odd) {
    padding-right: 30px; }
  .past td {
    padding-bottom: 30px;
    vertical-align: top; }

.art h2 {
  color: white;
  font-size: 23px; }

.no-display {
  display: none; }

a,
a:visited {
  color: white;
  cursor: pointer;
  text-decoration: underline; }

a:hover {
  text-decoration: underline; }

.partnerlogoer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.partnerlogoer a img {
  max-width: 4vw;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer; }

.partnerlogoer a img:hover {
  opacity: 0.6;
  transition: 0.2s; }

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0px;
  margin: 0; }
  ul a:hover {
    text-decoration: none; }

.event {
  position: relative;
  margin-bottom: 50px;
  min-height: 60vh; }
  .event:nth-last-of-type(1) {
    margin-bottom: 0; }
  .event ul {
    justify-content: end; }
  .event h3 {
    font-size: 26px;
    position: absolute;
    font-weight: normal;
    top: 389px;
    left: 20px;
    transform-origin: left;
    transform: rotate(270deg);
    color: #5c6ace; }
  .event:nth-of-type(2) {
    border-color: #fac526; }
    .event:nth-of-type(2) h3 {
      top: 471px;
      color: #fac526; }
  .event:nth-of-type(3) {
    border-color: white; }
    .event:nth-of-type(3) h3 {
      top: 477px;
      color: white; }
  .event li {
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    margin-right: 30px; }
    .event li.desktop {
      width: min-content;
      margin-bottom: 7px; }
      .event li.desktop div {
        position: relative;
        height: 21px; }
    .event li img {
      height: 300px;
      width: auto; }

.event li div {
  width: 100%;
  padding-bottom: 5px; }

.event li span {
  text-transform: uppercase;
  color: white;
  font-size: 18px; }

.title {
  display: inline; }

.extratitle {
  display: none; }

.artistcontent .extratitle {
  display: inline; }

.artistcontent .title {
  display: none; }

iframe {
  width: 100%;
  padding-bottom: 0.5rem; }

#sound-embed iframe {
  height: auto; }

.artistcontent {
  position: sticky;
  align-self: start;
  top: 30px; }
  .artistcontent h2 {
    text-transform: uppercase;
    color: white; }

#stickyspace {
  height: 50px; }

@media only screen and (max-width: 1855px) {
  main {
    margin-left: 60px;
    margin-right: 60px; }
  .lineup {
    grid-template-areas: "left right";
    grid-template-columns: 840px 500px; }
  .event li img {
    height: 250px;
    width: auto; } }

.mobile {
  display: none; }

@media only screen and (max-width: 1600px) {
  main {
    grid-column-gap: 30px;
    margin-left: 60px;
    margin-right: 60px; }
  .past {
    padding-left: 10vw;
    padding-right: 10vw; }
  html.landing .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh; }
  html.landing img.reflections {
    position: absolute;
    left: 25vw;
    top: 10vh;
    max-width: 80vh;
    z-index: -1; } }

@media only screen and (max-width: 1600px) {
  .lineup {
    grid-template-areas: "left right";
    grid-template-columns: 560px 500px; } }

@media only screen and (max-width: 1300px) {
  .lineup {
    grid-template-areas: "left right";
    grid-template-columns: 460px 400px;
    grid-column-gap: 15px; }
  .event li {
    margin-right: 15px; }
    .event li img {
      height: 200px;
      width: auto; }
  html.landing img.reflections {
    position: absolute;
    left: 20vw;
    top: 10vh;
    max-width: 80vh;
    z-index: -1; } }

@media only screen and (max-width: 1000px) {
  .desktop {
    display: none; }
  .mobile {
    display: block; }
  html,
  html.landing {
    background-size: cover;
    border: none; }
    html #datoboks,
    html.landing #datoboks {
      left: 30px;
      text-transform: none; }
      html #datoboks h2,
      html.landing #datoboks h2 {
        color: white;
        font-weight: normal; }
      html #datoboks h3,
      html.landing #datoboks h3 {
        line-height: 28px; }
    html img.reflections,
    html.landing img.reflections {
      position: absolute;
      left: 10vw;
      top: 25vh;
      max-width: 80vw;
      z-index: -1; }
  main #right-column {
    padding-bottom: 0; }
  .main,
  .info,
  .contact,
  .lineup,
  .past,
  .schedule {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    grid-column-gap: 0px; }
  .lineup {
    grid-template-areas: "left";
    grid-template-columns: 1fr; }
    .lineup #right-column {
      display: none; }
  .schedule {
    text-size-adjust: none;
    grid-template-areas: "left";
    grid-template-columns: 1fr; }
    .schedule h2 {
      font-size: 47px; }
    .schedule h3 {
      font-size: 47px;
      color: white; }
    .schedule table {
      font-size: 47px;
      text-size-adjust: none; }
  .event:nth-of-type(2) {
    padding-bottom: 0px; }
  .event h3 {
    position: initial;
    transform: none;
    font-size: 45px;
    margin-top: 0; }
  .event ul {
    padding-left: 0px; }
  .event .title {
    display: none; }
  .event .extratitle {
    display: inline; }
  .info {
    text-align: left; }
    .info h2 {
      margin-top: 35px; }
  .artist-link {
    pointer-events: none; }
  .event li {
    cursor: default;
    margin-right: 0px;
    margin-bottom: 30px; }
    .event li img {
      width: 100%;
      height: auto; }
  .past h2 {
    margin-bottom: 0; }
  .past table div {
    margin-bottom: 30px; }
  .past td {
    display: block;
    padding-bottom: 60px; }
    .past td:last-of-type {
      padding-bottom: 0; }
    .past td img {
      width: 100%; }
    .past td:nth-child(odd) {
      padding-bottom: 0px;
      padding-right: 0px; }
  .art h2 {
    padding-bottom: 5px; }
  .partnerlogoer a img {
    max-width: 13vw; } }
