#horisontal-header { 
  display: block;
  padding-top:30px;
  padding-left: 60px;
  padding-right: 60px;
  grid-template-areas:
    "header menu";
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  text-align: center;
}

#header {
  position: relative;
  grid-area: header;
  align-self:end;
  font-family: 'garamond';
 font-size:40px;
 br {
 display: block;
 content:"";
 margin-top:-5px;
 }
 span {
  color:$title-color;
 }
 a {
  text-decoration: none;
 }
  &.info {
    font-size: 0;
  }
}

.logo {
  width:250px;
}

#header h1 {
  color: $title_color_alt;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 45px;
  font-weight: normal;
}

.horis-menu-list {
  justify-self: end;
  align-self:center;
  display: inline-block;
  grid-area: menu;
  position: relative;
}

.horis-menu-list.info {
  padding-top: 1.9em;
}

a.menu-item-link, a.menu-item-link:visited {
  font-size: 26px;
  font-family: public;
  text-decoration: none;
  color: $title-color;
}

.menu-item-link:not(:first-child) {
  margin-left: 30px;
}

@media only screen and (max-width: 1000px) {
  #horisontal-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  #header {
    text-size-adjust: none;
    h1 {
      font-size: 50px;
    }
  }
  .menu-item-link:not(:first-child) {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 403px) {
  #horisontal-header {
    padding-left: 10px;
    padding-right: 10px;
  }
}