#horisontal-header {
  display: grid;
  padding-left: 20vw;
  padding-right: 20vw;
  grid-template-areas:
    "header"
    "menu";
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
}

#header {
  grid-area: header;
  justify-self: center;
  padding-top: 1vw;
  padding-bottom: 0.7vw;
  a {
    text-decoration-color: $title_color_alt;
  }
  &.info {
    font-size: 0;
  }
}
#header h1 {
  color: $title_color_alt;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 3.2rem;
  font-weight: 700;
}

.horis-menu-list {
  justify-self: center;
  display: inline-block;
  grid-area: menu;
}

.horis-menu-list.info {
  padding-top: 1.9em;
}

a.menu-item-link {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $text;
}

.menu-item-link:not(:first-child) {
  margin-left: 30px;
}

@media only screen and (max-width: 1000px) {
  #horisontal-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  a.menu-item-link {
    font-size: 3rem;
  }
  #header {
    h1 {
      font-size: 4rem;
    }
  }
}
