$pink-dark: rgb(243, 80, 108);
$pink-dark-trans: rgba(243, 80, 108, 0.8);
$black-trans: rgba(0, 0, 0, 0.5);
$white: rgb(220, 220, 220);
$white-trans: rgba(255, 255, 255, 0.8);
$whiter: rgb(240, 240, 240);
$whiter-trans: rgba(240, 240, 240, 0.8);
$whitest: rgb(255, 255, 255);
$whitest-trans: rgba(255, 255, 255, 0.8);
$pink: rgb(244, 125, 218);
$pink-light: rgb(244, 192, 233);
$pink-lighter: rgb(255, 215, 255);
$grey: rgb(63, 67, 66);
$grey-trans: rgba(63, 67, 66, 0.6);
$grey-light: rgb(180, 180, 180);
$grey-dark: rgb(30, 30, 30);
$blue-light: rgb(229, 241, 250);
$salmon-trans: rgba(232, 126, 113, 0.8);
$green-trans: rgba(77, 180, 93, 0.8);
$purple-trans: rgba(118, 106, 167, 0.8);
$blue-trans: rgba(45, 174, 226, 0.8);
$red-trans: rgba(193, 70, 64, 0.8);
$yellow-trans: rgba(250, 239, 64, 0.8);

$black: black;
$bg: rgb(255, 255, 255);
$blue: rgb(58, 95, 195);
$pink: rgb(237, 110, 135);
